body{
    padding:0;
    margin:0;
    box-sizing: border-box;
    width:100%;
    font-family: Lato , sans-serif;
    text-decoration: none;
    
}
nav{
    background-color:black;
    color:white;
   padding:20px 20px;

}
*{
    list-style-type: none;
}
.nav-top{
 display:flex;
 align-items: center;   
 justify-content: space-evenly;
 
 
}
.search{
display: flex;
align-items:center;
background-color: grey;
padding:10px 20px;
border-radius: 10px;

}
.search-input{
    border:none;
    background-color: transparent;
    outline: 0;
}
.search-input::placeholder{
    color:lightgrey;
}
.limited-offer{
    font-size:20px;
    border-bottom:2px solid green;
    cursor:pointer;
}
.nav-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-bottom{
    margin-right:50px;
    cursor:pointer;
    color:lightgrey;
    font-weight: 400;

}
.slider{
    background-image: URL(istockphoto-680888484-170667a.webp);
    clip-path: polygon(0 0, 100% 0, 100% 100%,0 89%);
    overflow: hidden;
    

}
.slider-wrapper{
    display: flex;
    width:500vw;
    transition: all 1.5s ease-in-out;

}
.slider-item{
    width:100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.slide-bg{
    width:730px;
    height:750px;
    border-radius:50%;
    background-color: yellow;
    position: absolute;
    z-index: -1;

    

}
.slider-img{
    z-index: 2;
}
.slider-title{
position: absolute;
top:10%;
left:50rem;
font-size:60px;
font-weight: 900;
text-align: center;
color:white;
}
.slider-price{
    position: absolute;
    top:30%;
    left:8%;
    font-size:60px;
    font-weight: 300;
    text-align: center;
    color:white;
    border:1px solid grey;
    z-index:2;
    }
    
    .btn{
        position: absolute;
        top:50%;
        right:10%;
        font-size:30px;
        font-weight: 100;
        color:white;
        border:1px solid grey;
           z-index: 2;
            background-color: black;
            cursor: pointer;
        
    }
    .btn:hover{
        background-color: white;
        color: black;
    }
    .slider-item:nth-child(1) .slide-bg{
      background-color: green;
    }
    .slider-item:nth-child(2) .slide-bg{
        background-color: turquoise;
      }
      .slider-item:nth-child(3) .slide-bg{
        background-color: lightskyblue;
      }
      .slider-item:nth-child(4) .slide-bg{
        background-color: plum;
      }
      .slider-item:nth-child(5) .slide-bg{
        background-color: burlywood;
      }
      .features{
        display:flex;
        align-items:center;
        justify-content:space-between;
        padding:50px;
      }
      .featuring{
        width:50px;
        height:50px;
      }
      .feature{
        display:flex;
        flex-direction:column;
        align-items: center;
        text-align: center;
      }
.featured-title{
    font-size:20px;
    font-weight:600;
    margin:20px;
}
.featured-desc{
    color:grey;
    width:50%;
    height:100px;
}
.product{
    height:100vh;
    background-color: whitesmoke;
    position:relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%,0 100%);
    
}
.product-img{
    width:33rem;
    padding-left: 2%;
    padding-top:6%;


    
}
.product-details{
    position:absolute;
    top:80rem;
    right: 12%;
    width:40%;
    padding:50px;
}
.product-title{
    font-size: 75px;
    font-weight:700;
}
.product-desc{
font-size:17px;
color:grey;
}
.colors,.sizes{
    display:flex;
}
.color{
    width:32px;
    height:32px;
    border-radius:4rem;
    background-color: black;
    margin-right:10px;
    cursor:pointer;
}
.color:last-child{
background-color: blue;
}
.size{
    margin-top:1rem;
    padding:5px 20px;
    border:1px solid black;
    margin-right:10px;
    cursor: pointer;
    font-size: 15px;
}
.n-btn{
    float:right;
    
    padding-left: 3rem;
    padding-right:3rem ;
    background-color: black;
    color:white;
    border: none;
    font-weight: 1rem;
    cursor: pointer;
    border-radius: 3rem;
    letter-spacing: 1px;
    transform: translateX(12rem);
    transition: .2s ease;
}
.n-btn:hover{
background-color: white;
color:black;

}
.payment{
    width:500px;
    height:500px;
    background-color:white;
    position:absolute;
    top:0;
    bottom:0;
    -webkit-box-shadow: 2px 3px 12px 11px #000000; 
box-shadow: 2px 3px 10px 5px #000000;
    margin:auto;
    padding:10px 50px;
    display:none;
    flex-direction: column;
}
.pay-title{
    font-size:20px;
    color:lightgrey;

}
label{
    font-size: 14px;
    font-weight: 300;
}
.pay-input{
    padding:10px;
    margin:10px 0;
    border:none;
    border-bottom:1px solid grey;
    outline:0
}
.pay-input:hover{
color:rgb(164, 151, 151)
}
.card-icons{
    display: flex;

}
.card-icons{
    margin-right: 10px;

}
.card-info{
    display: flex;
    justify-content: space-between;
    gap:0.3rem;

}
.pay-button{
    position: relative;
    bottom:-30px;

     width: 100%;
    height:40px;

    -webkit-box-shadow: 2px 3px 12px 10px #000000; 
    box-shadow: 2px 3px 10px 3px #000000;
    background-color: rgb(18, 154, 18);
    border:none;
    border-radius: .5rem;
    color: white;
    cursor: pointer;

}
.close{
    width:20px;
    height:20px;
    position: absolute;
    background-color: grey;
    color: white;
    top:20px;
    right:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}
.gallery{
    padding:50px;
    display: flex;
}
.gallery-item{
flex:1;
padding:50px
}
.gallery-image{
    width:100%;
}
.new-season{
    display:flex;
}
.ns-item{
    flex:2;
    background-color: black;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ns-image{
    width:98%;
    height:500px;
}
.ns-title{
    font-size: 30px;

}
.ns-btn{
    padding:15px;
    font-weight:600;
    cursor: pointer;
    border-radius: 1rem;
    border: none;
    background-color: white;
}
.footer{
    display: flex;
}
.footer-left{
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding:50px;

}
.f-menu-title{
font-size: 16px;
}
.f-menu-list{
    padding:0;
}
.f-list-item{
    margin-bottom: 10px;
    color:gray;
    cursor: pointer;
}

.f-icons{
    display: flex;
}
.f-icons{
    width:20px;
    height:20px;
    gap:.3rem;
    padding-bottom:1rem;
}
.f-input{
    padding:5px;
    outline: 0;
}
.f-btn{
    padding:7px;
    background-color: black;
    border: none;
    color: white;
}
.size:hover{
background-color: black;
color:white;
}